*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header{
    background-color: #4caf50;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.041);
}

header a{
    text-decoration: none;
    color: white;
}

header .logo img{
    width: 100px;
}

nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

aside{
    width: 250px;
    float: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside h2, aside h3{
    margin-bottom: 10px;
    color: #4caf50;
}

aside ul{
    list-style-type: none;
    margin-bottom: 20px;
}

aside ul li{
    margin-bottom: 10px;
}

aside ul li a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

aside ul li a:hover{
    color: #4caf50;
}

.form-container{
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.432);
    padding: 30px;
    border-radius: 20px;
    margin-top: 5%;
    background-image: linear-gradient(10deg, green, lightgreen);
}

.form-container h3{
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.form-container label{
    text-align: center;
    font-size: 1.3em;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.form-container button{
    display: inline-flex;
    align-items: center;
    border-radius: 7px;
    margin: 20px auto 0 auto;
    background-color: #024e05;
    cursor: pointer;
}

.form-container .prev{
    display: inline-flex;
    background-color: #024e05;
    color: white;
    border-radius: 7px;
    width: 50px;
    height: 40px;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 45%;
}

.form-container .prev:hover{
    background-image: linear-gradient(20deg, green, rgb(153, 236, 153));
}

.form-container button:hover{
    background-image: linear-gradient(20deg, green, rgb(153, 236, 153));
}

.form-container button:active{
    box-shadow: 5px 5px 5px 5px black inset;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button{
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #2b742d;
}

main {
    margin-left: 270px;
    padding: 20px;
}

.marquee-section {
    margin-top: 40px;
}

.marquee{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.marquee img {
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform0.5s ease;
}

.marquee img:hover{
    transform: scale(0.9);
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 270px
}